

/* ------------------------- BASIC RULES ----------------------------*/


* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Rokkitt', serif;
	font-size: 3em;
	color: black;
	text-transform: uppercase;
}

h2 {
	font-family: 'Rokkitt', serif;
	font-size: 2.5em;
	color: black;
	text-transform: uppercase;
}

h3 {
	font-family: 'Rokkitt', serif;
	font-size: 2em;
	color: #404040;
}

p {
	font-family: 'Rokkitt', serif;
	font-size: 1.5em;
	color: black;
}

ul {
	list-style-type: none;
}

li {
	
}

a {
	color: #000;
	font-family: sans-serif;
	text-decoration: none;
}

a:hover {
	color: orangered;
	text-decoration: underline;
}



/* ---------------------- CLASS SELECTORS --------------------------*/


.main-header {
	width: 100%;
	background-color: seashell;
	text-align: center;
}

.main-header p {
	font-size: 2em;
	color: slategrey;
}

.main-nav {
	background-color: pink;
}

.main-nav a {
	font-size: 1.2em;
	font-family: sans-serif;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: orangered;
	background-color: #EBEBEB;
	text-decoration: none;

}

.container {
	width: 100%;
}

.main-content {
	color: blue;
	text-align: center;
}

.profile-writeup {
	width: 40%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.profile-writeup p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	color: darkslategrey;
}

.profile-picture {

}

.main-portfolio {
	text-align: center;
}

.portfolio-card {
	display: inline-block;
}

.portfolio-card img {
	width: 100%;
}

.main-footer {
	background-color: purple;
	width: 100%;

}



/* ------------------------ CLEARFIX ----------------------------*/




.clearfix::after {
  	content: "";
  	display: table;
  	clear: both;
}



/* ---------------------- MEDIA QUERIES --------------------------*/




/* 320 PIXEL SCREEN */


@media (min-width: 320px) {

	.main-porfolio {

	}

	.portfolio-card {

	}
}


/* 768 PIXEL SCREEN */


@media (min-width: 768px) {

	.portfolio-card {
		display: inline-block;
		width: 40%;
		float: left;
	}
}



/* 1024 PIXEL SCREEN */


@media (min-width: 1024px) {

	.portfolio-card {
		display: inline-block;
		width: 30%;
		float: left;
	}
}
