

/* ------------------------------------------ BASIC RULES --*/



*{
	box-sizing: border-box;
	text-align: center;
	margin: 0;
}

body {
	background-color: #EBEBEB;
}

h1, h2, h3, p, a {
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 1em;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: orange;
}

a {
	color: #404040;
	text-decoration: none;
}


/* ------------------------------------- CLASS SELECTORS ---*/



.wrap {
	width: 100%;
}

.top-name {
	text-shadow: 1px 1px 1px #333;
	letter-spacing: 4px;
}

.nav {
	display: inline-block;
	width: 100%;
}

.nav ul {
	list-style-type: none;
	background-color: #EBEBEB;
	padding-left: 0;
}

.nav a {
	display: inline-block;
	font-size: 1.3em;
	color: #404040;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fff;
	width: 90%;
	margin: 5px;
	margin-bottom: 5px;
	padding: 0.5em 0 0.5em 0;
	border-radius: 10px;
}

.nav a:hover {
	color: #404040;
	background-color: orange;
}

.intro {
	width: 90%;
	padding-top: 1em;
	padding-bottom: 2em;
	margin: auto;
}

.intro p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px 1px #bbb;
}

.profileIMG {
 	width: 100%;
 	border-radius: 10px;
}

.portfolio-head {
	padding-bottom: 20px;
}

.portfolio-card {
	width: 100%;
	margin-bottom: 1em;
}

.card-image {
	width: 95%;
	padding-bottom: 1em;
}

.portfolio {
	margin: auto;
	background-color: white;
	border-radius: 10px;
	width: 95%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.about {
	width: 95%;
	margin: auto;
	margin-top: 40px;
	background-color: white;
	border-radius: 10px;
	padding: 30px 0 30px 0;
}

.about p {
	margin: auto;
	width: 85%;
	padding-top: 20px;
}

.jeffrey-picture {
	width: 20%;
	height: auto;
	border-radius: 50%;
	border: 5px solid #bbb;
}

.contact {
	margin: auto;
	padding-top: 40px;
	width: 75%;
}

.footer {
	margin-top: 2em;
	height: 4em;
}

.footname {
	float: left;
	margin-left: 5%;
	margin-top: 20px;
}

.footlink {
	float: right;
	margin-right: 5%;
	margin-top: 20px;
}

.large-footer {
	display: none;
}




/* -------------------------------------------- CLEARFIX ---*/



.clearfix::after {
  	content: "";
  	display: table;
  	clear: both;
}



/* ----------------------------- MEDIA QUERIES 768 PIXELS ---*/



@media (min-width: 768px) {

	.nav {
		display: inline-block;
		width: 100%;
		margin: auto;
	}

	.nav ul {
		margin-right: 20px;
	}

	.nav li {
		display: inline-block;
	}

	.nav a {
		margin: 0 1em 0 1em;
		background-color: #EBEBEB;
	}

	.intro {
		margin-top: 2em;
		width: 90%;
 	}

	.intro p {
		font-size: 2em;
	}

	.profileIMG {
		width: 40%;
		float: right;
		margin-left: 2em;
	}

	.portfolio-head {
		margin: 0.5em 0 1em 0;
	}

	.portfolio-card {
		display: inline-block;
		width: 49%;
	}

	.portfolio-card p {
		font-size: 2vw;
		margin-left: 2em;
		margin-right: 2em;
	}

	.large-footer {
		display: inline-block;
		margin-top: 20px;
		float: right;
		padding-right: 55px;
	}

	.large-footer a {
		padding: 0 1em 0 1em;
		text-transform: uppercase;
	}

	.large-footer a:hover {
		color: orange;
	}

	.small-footer {
		display: none;
	}

}



/* ----------------------------- MEDIA QUERIES 1024 PIXELS ---*/



@media (min-width: 1024px) {

	.top-name {
		float: left;
		margin-top: 1em;
		margin-left: 2em;
	}

	.nav ul {
		float: right;
		margin-top: -100px;
		margin-right: 4em;
	}

	.nav li {
		margin-top: 2em;
	}

	.portfolio-card {
		display: inline-block;
		width: 31%;
	}

	.portfolio-card p {
		font-size: 1vw;
		margin-left: 2em;
		margin-right: 2em;
	}



}
