

/* ------------------------------------------ BASIC RULES --*/



*{
	box-sizing: border-box;
	text-align: center;
	margin: 0;
}

body {
	background-color: #EBEBEB;
}

h1, h2, h3, p, a {
	font-family: 'PT Sans', sans-serif;
}

a {
	color: #404040;
	text-decoration: none;
}



/* ------------------------------------- CLASS SELECTORS ---*/



.wrap {
	width: 100%;
}

.nav ul {
	list-style-type: none;
	background-color: #EBEBEB;
	padding-left: 0;
}

.nav a {
	display: inline-block;
	font-size: 1.3em;
	color: #404040;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fff;
	width: 90%;
	margin: 5px;
	margin-bottom: 5px;
	padding: 0.5em 0 0.5em 0;
	border-radius: 10px;

}

.nav a:hover {
	color: #404040;
	background-color: orange;
}

.intro {
	width: 90%;
	padding-top: 1em;
	padding-bottom: 2em;
	margin: auto;
}

.profileIMG {
 	width: 100%;
 	height: auto;
}

.portfolio-card {
	width: 100%;
	padding-bottom: 2em;
}

.card-image {
	width: 90%;
	padding-bottom: 1em;
}

.footer {
	margin-top: 2em;
	height: 4em;

}

.footname {
	float: left;
	margin-left: 5%;
	margin-top: 20px;
}

.footlink {
	float: right;
	margin-right: 5%;
	margin-top: 20px;
}




/* -------------------------------------------- CLEARFIX ---*/



.clearfix::after {
  	content: "";
  	display: table;
  	clear: both;
}



/* ----------------------------- MEDIA QUERIES 768 PIXELS ---*/



@media (min-width: 768px) {

	.nav {
		width: 100%;
		margin: auto;
	}

	.nav li {
		display: inline-block;
	}

	.nav a {
		margin: 0 1em 0 1em;
	}

	.intro {
		margin: 2em 2em 2em 2em;
	}

	.intro p {
		font-size: 1.5em;
	}

	.profileIMG {
		width: 40%;
		float: right;
	}

	.portfolio {
	}

	.portfolio-head {
		margin: 0.5em 0 1em 0;
	}

	.portfolio-card {
		display: inline-block;
		width: 40%;
	}



}




/* ----------------------------- MEDIA QUERIES 1024 PIXELS ---*/



@media (min-width: 1024px) {



	.portfolio-card {
		display: inline-block;
		width: 31%;
	}



}
